body {
    width: 200px;
    margin: 20px;
    padding: 15px;
    border-radius: 1px;
    background-color: #ffffff;
    border: 1px solid #8d8d8d;
  }
.d {
  font-size: 40px;
}
.f {
  color: #265a63;
  text-align: center;
}
.g {
  background-color: #265a63;
  color: #ffffff;
  text-align: center;
  margin-inline: 30px;
  border: 1px solid;
}
.z {
  color: #265a63;
}