.a {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 1px;
    margin: 20px;
    width: 1300px;
    border: 1px solid #000000;
}
.b {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 1px;
    margin: 20px;
    width: 1300px;
    border: 1px solid #000000;
    margin-top: -1.3rem;
}
.c {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 1px;
    margin: 20px;
    width: 1300px;
    border: 1px solid #000000;
    margin-top: -1.3rem;
}
.d {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 1px;
    margin: 20px;
    width: 1300px;
    border: 1px solid #000000;
    margin-top: -1.4rem;
}
.e {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 1px;
    margin: 20px;
    width: 1300px;
    border: 1px solid #000000;
    margin-top: -1.3rem;
}