body {
    font-size: 2rem;
    font-style: italic;
}
.a {
    text-transform: uppercase;
    background-color: #8a2be2;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.2rem;
    word-spacing: 1.2rem;
}
.b {
    background-color: #afaf46;
    color: #1100ff;
    word-spacing: 1rem;
}
.c {
    color: #1100ff;
    word-spacing: 1rem;
    background-color: #808080;
}
.d {
    color: #00ffff;
    word-spacing: 1rem;
    background-color: #afaf46;
}
.e {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff0000;
    background-color: #faebd7;
    word-spacing: 1rem;
}