.a {
    color: #ffff00;
}
.caja {
    background-color: #6363e2;
}
.verde {
    background-color: #2cb62c;
}
.caja {
    color: #ffffff;
}
.verde {
    color: #ffffff;
}
.morado {
    color: #a85aa8;
}